body {
    /* padding: 20px; */

    background-color: white;
}

select {
    width: 200px;
}

.container {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.country-list {
    padding: 20px;
}

.fav-list-li {
    padding-top:3px;
    list-style-type: none;
    color: white;
}

u {
    color: white;
    font-weight: bolder;
}

.aside {
    background-color:#8BD8BD;
    padding: 10px;
    height: 1500px;
    width:150px;
}

button:hover {
    background-color:#8BD8BD;
}

button {
    cursor: pointer;
    border-radius: 15px;
    background-color: azure;
}

.header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #210070;
    color: white;
}

header {
    font-weight: bolder;
}

